<div class="col-md-2 bootstrap-admin-col-left">
    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
        <!--后台管理-->
        <li>
            <a href=""><i class="glyphicon glyphicon-chevron-down"></i> 后台管理</a>
            <ul class="nav navbar-collapse bootstrap-admin-navbar-side">
                <li><a href="{{siteUrl('admin/category/index')}}"><i class="glyphicon glyphicon-chevron-right"></i> 文章分类管理</a></li>
                <li><a href="{{siteUrl('admin/article/index')}}"><i class="glyphicon glyphicon-chevron-right"></i> 文章管理</a></li>
                <li><a href="{{siteUrl('admin/setNewStatic')}}"><i class="glyphicon glyphicon-chevron-right"></i> 生成前台页面</a></li>
            </ul>
        </li>
    </ul>
</div>